<h1>Wallets#index</h1>
<p>Find me in app/views/wallets/index.html.erb</p>

<h1>Your Wallets</h1>

<ul>
  <% @wallets.each do |wallet| %>
    <li><%= link_to wallet.name, wallet_path(wallet) %></li>
  <% end %>
</ul>

<%= link_to 'Create a new wallet', new_wallet_path %>

