<h1>Wallets#index</h1>
<p>Find me in app/views/wallets/index.html.erb</p>

<h1>Your Wallets</h1>

<% @wallets.each do |wallet| %>
  <h5><%= link_to wallet.name, wallet_path(wallet) %></h5>
  <h6>Wallet balance: <%= wallet.balance %></h6>
<% end %>

<%= link_to 'Create a new wallet', new_wallet_path %>

